.login-container {
  margin-top: 4rem;
}

input {
  width: 30%;
  height: 50px;
  margin-bottom: 2rem;
  padding: 0px 10px;
  border-radius: 5px;
  border: 1px solid black;
  margin-right: 1.5rem;
}
.custom__button {
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-left: 0.1rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: darkred;
  color: rgb(10, 10, 10);
  border: none;
}
